#page_header {
  background-image: url("../img/wholefield.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
#page_header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0);
}
